*{
    margin: 0;
    padding: 0;

}
    body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header, footer{ 
    background-color: #333333;
    color: #fff;
    padding: 10px; 
    text-align: center;
    font-size: 1.5rem;
}

main{
    margin: 20px;
    padding: 15px;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: #f9f9f9;
}

h1{
    margin: 10px;
    text-align: center;
}

img{
    margin: 0 auto;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

h2{
    border-bottom: 1px solid #222;
}

section{
    margin: 20px;
    border: 1px solid #333333;
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}

section p{
    margin: 10px;
}

ul{
    margin-left: 20px ; 
}

